<div class="navbar">
  <div class="left-section">
    <span>VegMaze</span>
    <button routerLink="/vegetable">Vegetables</button>
    <button (click)="endPoints()">End Points</button>
  </div>
  <div class="right-section">
    <button *ngIf="authService.isLoggedIn()" routerLink="/cart">View Cart</button>
    <button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
    <button *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</button>
    <button *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</button>
  </div>
</div>
<router-outlet></router-outlet>
