/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    background-color: #4b85c0;
    
    /* background-image: linear-gradient(rgba(136, 64, 40, 0.65), rgba(19, 227, 199, 0.65)); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}