
<div class="div">

  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink='/'>Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="myActive active" routerLink='/about'>About Us</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink='/product'>Product</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink='/contact'>Contact Us</a></li>
</ul>
</nav>
</header>
  <div class="float1">
    <router-outlet></router-outlet>
  </div>
</div>
