<!-- <app-mycontainer></app-mycontainer> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-class-style-binding></app-class-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<div class="float1">
    <h3>1-mycontainer</h3>
    <app-mycontainer></app-mycontainer>
</div>
<div class="float2">
    <h3>2-data-binding</h3>
    <app-data-binding></app-data-binding>
</div>
<div class="float1">
    <h3>3-class-style-binding</h3>
    <app-class-style-binding></app-class-style-binding>
</div>
<div class="float2">
    <h3>4-event-binding</h3>
    <app-event-binding></app-event-binding>
</div>
<div class="float1">
    <h3>5-templet-reference-variable</h3>
    <app-templet-reference-variable></app-templet-reference-variable>
</div>
<div class="float2">
    <!-- need to add this entry in app.module.ts
    import { FormsModule } from '@angular/forms';
 -->
    <h3>6-two-way-data-binding</h3>
    <app-two-way-data-binding></app-two-way-data-binding>
</div>
<div class="float1">
    <h3>7-ngx-bootstrap</h3>
    <app-ngx-bootstrap></app-ngx-bootstrap>
</div>
<div class="float2">
    <h3>8-ng-if</h3>
    <app-ng-if></app-ng-if>
</div>
<div class="float1">
    <h3>9-ng-for</h3>
    <app-ng-for></app-ng-for>
</div>
<div class="float2">
    <h3>10-pushandsplice</h3>
    <app-pushandsplice></app-pushandsplice>
</div>
<div class="float1">
    <h3>11-routing-link</h3>
    <app-routing-link></app-routing-link>
</div>
<div class="float2">
    
</div>