<body *ngIf="loginResponse.message!=null">Hi | {{loginResponse.email}}</body>
<div *ngIf="loginResponse.message==null">
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" required [(ngModel)]="loginRequest.email" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" required [(ngModel)]="loginRequest.password" name="password">
    </div>
    <button type="submit">Login</button>
  </form>
  
  <div *ngIf="loginError" class="error">
    {{ loginError }}
  </div>
</div>