<div class="movie-item">
    <div class="movie-image">
        <!-- <img [src]="movieData.Image" [alt]="movieData.Name"> -->
        <img [src]="movieData.Image" [alt]="movieData.Name" (error)="setDefaultImage($event)">


    </div>
    <div class="movie-header">
        <h4>{{movieData.Name}}</h4>
    </div>
    <div class="movie-details">
        <a [href]="movieData.Link" class="download-link" download><ng-container *ngIf="movieData.Link=='link' else elseBlock">Will Upload Soon</ng-container><ng-template #elseBlock>Download {{movieData.Size}}</ng-template></a>
    </div>
</div>           
