<div *ngIf="vegetables.length > 0">
  <div class="vegetable-grid">
    <div *ngFor="let vegetable of vegetables" class="vegetable-tile">
      <h2>{{ vegetable.name }}</h2>
      <p>{{ vegetable.description }}</p>
      <p>Price: {{ vegetable.price | currency:'INR':'symbol':'.2-2' }}</p>
      <p>Stock Quantity: {{ vegetable.stockQuantity }}</p>
      <p>Category: {{ vegetable.category.name }}</p>
      <p>Created At: {{ vegetable.createdAt | date }}</p>
      <p>Updated At: {{ vegetable.updatedAt | date }}</p>
      <button (click)="viewDetail(vegetable.vegetableId)">View Details</button>
    </div>
  </div>
</div>
  
  